{% extends 'main/base.html' %}

{% block title %}
New Note
{% endblock %}

{% block content %}
  <h1>Create New Note</h1>
  <form method="post">
      {% csrf_token %}
      {{ form.title }}<br>
      {{ form.note }}<br>
       {% if user.is_authenticated %}
           <button Type="submit" class="btn btn-success">+</button>
         {% else %}
           <a class="btn btn-outline-primary" href="accounts/login/">Sign up</a>
         {% endif %}
      <span>{{ error }}</span>
  </form>
{% endblock %}
